services:
  postgres:
    image: postgres:17-alpine
    environment:
      POSTGRES_USER: etin
      POSTGRES_PASSWORD: etin
      POSTGRES_DB: ukoni
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
